.navbar-nav {
    margin: auto;
}

.nav-link {
    margin-left: 10px;
    margin-right: 25px;
}

@media (min-width:801px) {
    li+li::before {
        content: " | ";
        position: inline;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, .5);
        margin-right: 25px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
}

li.nav-item {
    display: -webkit-inline-box;
}

.nav-link {
    font-size: 2.4rem;
    line-height: 1.2;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    font-style: italic;
    color: #DBBEB0;
}