.navbar-nav {
    margin: auto;
}

.nav-link {
    margin-right: 50px;
}

@media (min-width:801px) {
    li + li::before {
        content: " | ";
        position: inline;
        font-size: 3.5rem;
        color: rgba(0,0,0,.5);
        margin-right: 50px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }
}

li.nav-item {
    display: -webkit-inline-box;
}