<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler hidden-sm-up ml-auto" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav navbar-center mr-auto">
        <li class="nav-item" >
          <a class="nav-link display-4" routerLink="" routerLinkActive="active">home</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link display-4" routerLink="guest-portal" routerLinkActive="active">guest portal</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link display-4" routerLink="about" routerLinkActive="active">about</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link display-4" routerLink="photo-gallery" routerLinkActive="active">photo gallery</a>
          </li>
      </ul>
    </div>
</nav>