<div class="container-fluid">
    <div class="row" class="striped-background">
        <div class="col-12 text-center" style="font-size: 5.625rem;">
            OUR STORY
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <img src="assets/about-guest-gwen-photo.png" class="float-left">
            </div>
            <div class="col-md-2">
                <span class="playfair display-1" style="line-height: 2.5;">&</span>
            </div>
            <div class="col-md-4">
                <img src="assets/about-guest-dan-photo.png" class="float-right">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>
                    Welcome to our about page. My name is Gwen and my fiancé’s name is Dan. Whether you know us already or this is your first introduction, hopefully you’ll learn something new about how we met, fell in love and, ultimately, chose to spend the rest of our
                    lives together.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>
                    Dan and I grew up quite differently; I am from Upstate New York and Dan is from Iowa. We had very different childhoods, which helps us each learn and grow from those experiences and from each other. I am a graphic designer, animal lover, latte and coffee
                    addict and love everything related to autumn. Dan is a software developer, video game nerd and has a passion for math and science. We both love all sorts of music, ranging from heavy metal to musicals and full orchestra performances.
                    We are pretty unconventional and, in line with that, we both plan on changing our last names to Dragon when we get hitched (more on that below)!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>
                    Dan moved to New York from Iowa in 2012 for a fresh start. About 6 months after moving, Dan and I met like so many others meet in this day and age—online. Dan sent the first message, and after chatting on the app for only 24 hours, we exchanged phone
                    numbers and started texting and getting to know one another.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <img src="assets/about-ia-icon.png">
            </div>
            <div class="col-md-3">
                <p>
                    What do you think makes you not quite so typical? Don’t get me wrong, you seem like an intriguing person already.
                </p>
            </div>
            <div class="col-md-2">
                <img src="assets/about-bus-icon.png">
            </div>
            <div class="col-md-3">
                <p>
                    What makes me not so typical… Hmm, where to begin. I guess you could say I don’t fit any sort of mold, I’m eccentric.
                </p>
            </div>
            <div class="col-md-2">
                <img src="assets/about-ny-icon.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p>
                    After about a week, we met up on our first blind date at The Olde Bryan Inn in Saratoga Springs, NY. We really hit it off, and that uncharacteristically warm December day, ended with a kiss in the rain. Every year since, on our anniversary, Dan and I
                    go out to eat at The Olde Bryan Inn and hope for rain.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="assets/about-rain-icon.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="assets/about-obi-logo.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <img src="assets/about-mocha-icon.png">
            </div>
            <div class="col-md-4">
                <p>
                    A week later, we went to a movie for our second date and after that made our relationship Facebook official. Fast forward 2 1/2 years: I bought a house, and Dan promptly helped me fix up the place and moved in with me. I already had two pets when we met—my
                    cat Iggi and my dog Mocha—and while Dan took a little while to warm up to these new responsibilities, he eventually came to love them (well, at least Mocha). ;)
                </p>
            </div>
            <div class="col-md-4">
                <img src="assets/about-paws.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <p>
                    Fast forward again: After 5 years and 8 months together, Dan and I were on our third visit to Iowa since meeting. On Wednesday afternoon, August 15, 2018, after a beautiful day in Lauritzen Gardens in Omaha, Nebraska, Dan and I went to the Joslyn Art
                    Museum, where Dan asked me to marry him under a sculpture of blown glass by one of my favorite artist’s—Chihuly. As I walked over to the sculpture, Dan handed his phone to his best friend, Adam, and told him to just start taking pictures
                    (without giving him a reason why). He then made his way to the sculpture to meet up with me. Dan hadn’t told anyone his plans for that trip. Needless to say, Adam was just as surprised as everyone else when Dan got down on one knee
                    and popped the question. He stood there taking photos and yelling words of alarm and surprise that echoed throughout the museum!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="assets/about-proposal-photo.png">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/about-proposal2-photo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="assets/about-ring-photo.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>
                    My beautiful, one-of-a-kind engagement ring was custom- and handmade by one of my closest friends of over 16 years and neighbor, Steve Burr (check out victoryartistries.com for more of his work, branding by me)—with design help from his wife, Risa. You
                    will see Steve, Risa and their son Bastian all featured as part of our wedding party. Our wedding bands are also being made by Steve, and we will have those later this year. Dan and I are forever grateful for their friendship and support
                    through the years and can’t thank them enough for working so hard on that piece of art that I get to wear on my hand every day.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img src="assets/about-guest-dragon1-icon.png">
            </div>
            <div class="col-md-6">
                <img src="assets/about-guest-dragon2-icon.png">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1" style="color:#DBBEB0">
                    I had been hoping Dan and I could change our names together and create something new for ourselves.
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    So what’s with the name Dragon? The short answer: It kind of started as a joke, and it stuck. The long answer: I had been hoping Dan and I could change our names together and create something new for ourselves. After planting the seed with Dan, we met
                    up with our friends Bradley (friend of honor) and Mary (his wife) and told them our idea of coming up with a unique name for ourselves. Dragon came up in the mix of possible names, and it became a running joke. However, after a few
                    months, the name really started to grow on us and we decided to make it happen. So, we’re becoming the Dragons, and we couldn’t be more thrilled.
                </p>
                <p>
                    Thanks for reading! For photos and more, please <a href="http://picti.net/dk46u" target="_blank">click here</a> or follow our story on Instagram <a href="https://www.instagram.com/becomingdragons/" target="_blank">@becomingdragons</a>.
                    Cheers!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">GWEN <span class="playfair">&</span> DAN</h1>
            </div>
        </div>
    </div>
</div>