<h1 class="text-center">you're on the list? welcome.</h1>

<div class="row">
    <div class='col-sm-4 offset-md-4'>
        <form (ngSubmit)="login()">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="form.password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
</div>

<div class="row">
    <div class='col-sm-4 offset-md-4'>
        <p>
            Didn't make the cut? We sure wish we could invite everyone&mdash;but regrettably&mdash;we cannot. You can however learn more about our story, check out our photo gallery and follow us on Instagram for news and updates. Thanks for visiting!
        </p>
    </div>
</div>

<div class="row">
    <div class='col-sm-4 offset-md-4'>
        <p>
            {{error}}
        </p>
    </div>
</div>