<div class="container-fluid">
    <div class="row striped-background">
        <div class="col-12 text-center" style="font-size: 5.625rem;">
            GUEST PORTAL
        </div>
    </div>

    <div class="container" style="margin-top: 20px;">

        <div class="row">
            <div class="col-md-6 text-center">
                <img src="assets/about-guest-dragon1-icon.png" />
            </div>
            <div class="col-md-6 text-center">
                <img src="assets/about-guest-dragon2-icon.png" />
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-12 text-center">
                <p>
                    Well, it sure does look like you are one of the chosen ones. Welcome, wedding guest! As our guest, we wanted to give you access to all the details you may need for our big day. If you should have any additional questions, please don't hesitate to reach
                    out!
                </p>
            </div>
        </div>
        <hr />

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h4 class="shit-color">WHO</h4>
                <p>
                    Gwen Ivins & Dan Foote
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h4 class="shit-color">WHAT</h4>
                <p>
                    Our wedding day
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h4 class="shit-color">WHERE</h4>
                <p>
                    Saratoga Apple, 1174 NY-29, Schuylerville, NY 12871
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <h4 class="shit-color">WHEN</h4>
                <p>
                    June 6, 2020. Ceremony will be all ages and begins at 4:30 pm, 21 or over reception to follow.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h4 class="shit-color">DRESS ATTIRE</h4>
                <p>
                    We want you to feel comfortable. By no means will this be a black tie affair, nor will either of us be in jeans or camo. This should give you a pretty good idea: We (wedding party) will be somewhere in the realm of cocktail/normal to casual wedding attire
                    (no jackets, add in a tie or two). Shoes? Again, keep them comfortable, we’re also planning on an outdoor wedding in June, so it's possible your shoes could get a little muddy. This isn’t the time for your designer brands or heels.
                    Now you know what we’ll be wearing; whether you wanna fit in or stick out like a unicorn—we want you to be there. You do you.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h4 class="shit-color">RSVP</h4>
                <p>
                    If you’re not sure yet—no worries—we will be sending official wedding invitations in the mail, so you’ve got some time. But if you’re one of those overachiever types and you want to RSVP before you receive it—be our guest (yes, pun intended); simply
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0Trwk3uejI0t8HKdI0S0heHIOPPkfrGB4SXQnjcTdROtwKQ/viewform?usp=sf_link" target="_blank">click here</a>, and thank you for the advanced notice!. Side note: We will be kindly asking everyone
                    on the invite to RSVP online anyway, so that we can save some time, money and carbon emissions.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h4 class="shit-color">REGISTRY/HONEYMOON</h4>
                <p>
                    Please enjoy browsing our wishlist on <a href="https://www.honeyfund.com/wedding/BecomingDragons" target="_blank">honeyfund.com</a>, where you can contribute to our dream honeymoon!
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h4 class="shit-color">TRAVELING?</h4>
                <p>
                    Friends and family near and far, we want to help make your trip to beautiful Upstate New York a memorable one.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h5>Flying?</h5>
                <p>
                    <a href="https://www.google.com/maps/place/Albany+International+Airport/@42.7487124,-73.8054981,15z/data=!4m2!3m1!1s0x0:0xf064a3c7c66b5d9b?sa=X&ved=2ahUKEwiehaSF9OnjAhUrh-AKHWTlABwQ_BIwE3oECA0QCw" target="_blank">Albany International Airport</a><br
                    /> Albany Shaker Rd, Colonie, NY<br /> If you're flying in, this is the airport closest to us; we are about 35 miles north.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h5>Hotels in the area</h5>
                <p>
                    We will have blocks of rooms at a couple of hotels in the area—coming soon! Safety is our number one priority; each of the hotels on our list will be within a short Uber ride from our venue. We'll keep this section updated as we know more.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">

                <h5>Things to do around town, plus more</h5>
                <p>
                    There is so much to do where we live and in the surrounding areas. Our wedding will be held in <a href="https://www.google.com/maps/place/Schuylerville,+NY+12871/data=!4m2!3m1!1s0x89de2edd09ba8bdf:0x101e4d311728ab95?sa=X&ved=2ahUKEwjQ4_Ll8OnjAhWkdt8KHfRPA5wQ8gEwDXoECAwQBA"
                        target="_blank">Schuylerville, NY</a>, and to our home in <a href="https://www.google.com/maps/place/Victory,+NY+12871/@43.0910037,-73.5999467,15z/data=!3m1!4b1!4m5!3m4!1s0x89de2f1b810efb93:0x40bbb8211ae86046!8m2!3d43.09361!4d-73.5918017"
                        target="_blank">Victory Mills</a>, NY. It’s a 15-minute drive into <a href="https://www.google.com/maps/place/Saratoga+Springs,+NY/@43.0616205,-73.8419577,12z/data=!3m1!4b1!4m5!3m4!1s0x89de384ec75bd439:0x641d456a1b94a2a8!8m2!3d43.0831301!4d-73.7845651"
                        target="_blank">Saratoga Springs, NY</a>, and 45 minutes to <a href="https://www.google.com/maps/place/Albany,+NY/@42.668063,-73.8808924,12z/data=!3m1!4b1!4m5!3m4!1s0x89de0a34cc4ffb4b:0xe1a16312a0e728c4!8m2!3d42.6525793!4d-73.7562317"
                        target="_blank">Albany, NY</a>, our state’s capital. It is also at the base of the <a href="https://www.google.com/maps/place/Adirondack+Mountains/@43.9660261,-75.680037,8z/data=!3m1!4b1!4m5!3m4!1s0x4ccb3391a64dfa53:0x61c84bb29f29e7da!8m2!3d44.1247154!4d-73.8693043"
                        target="_blank">Adirondack Mountains</a>, 2.5 hours from <a href="https://www.google.com/maps/place/Burlington,+VT/@44.492585,-73.2617536,13z/data=!3m1!4b1!4m5!3m4!1s0x4cca7a55b69b55e5:0xc35fe519720e498e!8m2!3d44.4758825!4d-73.212072"
                        target="_blank">Burlington, VT</a>, 3.5 hours from <a href="https://www.google.com/maps/place/New+York,+NY/@40.6971478,-74.2605505,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728" target="_blank">NYC</a>,
                    3.5 hours from <a href="https://www.google.com/maps/place/Boston,+MA/@42.3142643,-71.1107107,11z/data=!3m1!4b1!4m5!3m4!1s0x89e3652d0d3d311b:0x787cbf240162e8a0!8m2!3d42.3600825!4d-71.0588801" target="_blank">Boston, MA</a>, 4 hours
                    from <a href="https://www.google.com/maps/place/Montreal,+QC,+Canada/@45.557956,-73.8707288,11z/data=!3m1!4b1!4m5!3m4!1s0x4cc91a541c64b70d:0x654e3138211fefef!8m2!3d45.5016889!4d-73.567256" target="_blank">Montreal, Canada</a>, 4.5
                    hours from <a href="https://www.google.com/maps?sxsrf=ACYBGNR1GpFr9pvqW0JCxF5KwfFw84WlXA:1579986825951&q=Philadelphia,+PA&uact=5&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiu2PSJ3J_nAhWXZ80KHVtdD8QQ_AUoAXoECBUQAw" target="_blank">Philadelphia, PA</a>,
                    and 5 hours from <a href="https://www.google.com/maps/place/Niagara+Falls,+NY/@43.0995001,-79.0438468,13z/data=!3m1!4b1!4m5!3m4!1s0x89d363ea29e633b7:0x61975ae4b9c5aab3!8m2!3d43.0962143!4d-79.0377388" target="_blank">Niagara Falls, NY</a>.
                    Here are some of our favorite day trips:
                </p>
                <p>
                    <a href="https://www.google.com/maps/place/Saratoga+Springs,+NY/@43.0616205,-73.8419577,12z/data=!3m1!4b1!4m5!3m4!1s0x89de384ec75bd439:0x641d456a1b94a2a8!8m2!3d43.0831301!4d-73.7845651" target="_blank">Saratoga Springs, NY </a><br
                    /> Play tourist in the city Gwen grew up in; whether you are from here or not, there is always something new to find in Saratoga. Fun fact: Potato chips were invented in Saratoga Springs, NY!
                </p>
                <p>
                    <a href="https://spac.org/" target="_blank">Saratoga Performing Arts Center</a> (or SPAC) in <a href="https://parks.ny.gov/parks/saratogaspa" target="_blank">Saratoga Spa State Park</a><br />
                    <a href="https://www.google.com/maps/place/108+Avenue+of+the+Pines,+Saratoga+Springs,+NY+12866/data=!4m2!3m1!1s0x89de38572c2ab3f1:0x91cce9437f2db06c?sa=X&ved=2ahUKEwjNvYPo9-njAhVhplkKHSVaCTQQ8gEwAHoECAoQAQ" target="_blank">108 Avenue of the Pines, Saratoga Springs</a>,
                    NY 12866. Located inside a beautiful New York state park, this indoor/outdoor concert venue is a great spot to visit while you’re in town. Find a concert or just walk around!
                </p>
                <p>
                    <a href="https://www.gideonputnam.com/roosevelt-baths-and-spa?utm_source=googlemaps&utm_medium=local&utm_campaign=rooseveltspa" target="_blank">Roosevelt Baths & Spa in Saratoga Spa State Park</a><br /> 39 Roosevelt Dr, Saratoga Springs,
                    NY 12866. If you are from out of town, at least check out the mineral baths. Saratoga Springs is one of only a few places in the world with naturally occurring carbonated mineral spring water. You can also taste the spring water by
                    visiting the different springs around the park and in Saratoga’s downtown Congress Park.
                </p>
                <p>
                    <a href="http://www.saratogaspringsvisitorcenter.com/" target="_blank">Saratoga’s Downtown</a><br />
                    <strong>Congress Park, 1 E Congress St, Saratoga Springs, NY 12866</strong><br /> I would start and end with Congress Park (across the street is the Visitor’s Center). Downtown is home to additional naturally occurring springs, the
                    Canfield Casino (take a historic tour), the carousel, awesome local shops and restaurants, as well as where Gwen and Dan both work.
                </p>
                <p>
                    <a href="https://www.google.com/maps/place/Schuylerville,+NY+12871/data=!4m2!3m1!1s0x89de2edd09ba8bdf:0x101e4d311728ab95?sa=X&ved=2ahUKEwjQ4_Ll8OnjAhWkdt8KHfRPA5wQ8gEwDXoECAwQBA" target="_blank">Outside of Saratoga</a><br /> Schuylerville,
                    NY/Victory Mills, NY, is a beautiful and historic area. If you’re into history and/or taking long walks, this is the place for you. <a href="https://www.nps.gov/sara/planyourvisit/schuyler-house.htm" target="_blank">General Schuyler’s house</a>,
                    <a href="https://www.nps.gov/sara/planyourvisit/saratoga-monument.htm" target="_blank">Saratoga Monument</a> and <a href="https://www.nps.gov/sara/planyourvisit/victory-woods.htm" target="_blank">Victory Woods</a> are right down the
                    road from Gwen and Dan’s home—practically in their backyard.
                </p>
                <p>
                    <a href="https://www.nps.gov/sara/index.htm" target="_blank">Saratoga National Historical Park (Saratoga Battlefield)</a><br /> <strong>648 NY-32, Stillwater, NY 12170</strong><br /> Here, in 1777, during the American War for Independence,
                    American troops battled and beat a British invasion force, marking the first time in world history that a British Army ever surrendered. These are beautiful grounds for walking, running, biking and learning some American history along
                    the way.
                </p>
                <p>
                    <a href="https://www.visitithaca.com/?gclid=Cj0KCQjwhJrqBRDZARIsALhp1WQMooU1Z0bmhP95VaqJjfLxBbqOFMlE7qm8yG5hTsUpy12epdkAnMoaAkWcEALw_wcB" target="_blank">Ithaca, NY</a><br />Gwen’s home away from home. Ithaca is known for its nature,
                    beautiful natural gorges, waterfalls (<a href="https://parks.ny.gov/parks/62/details.aspx" target="_blank">Taughannock Falls State Park is Gwen’s favorite</a>), hikes, state parks, the Finger Lakes and wine. “Ithaca is gorges” is not
                    only a perfect tagline but is also so true.
                </p>
                <p>
                    <a href="https://massmoca.org/" target="_blank">Massachusetts Museum of Contemporary Art (Mass MoCA)</a><br /> <strong>1040 Mass MoCA Way, North Adams, MA 01247</strong><br /> Contemporary art museum in a quaint little town in Massachusetts.
                    Gwen likes to make the trip at least once a year, usually around her birthday.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h5>Good eats</h5>
                <p>
                    This is a list of some of our favorite places to eat:<br />
                    <a href="https://revolutioncafe.net/" target="_blank">Revolution Cafe</a>—Cassie, the owner, is catering our wedding, tell her we sent you! Fun fact: Gwen also designed their logo and branding. Try a burrito! <br />
                    <a href="http://www.oldebryaninn.com/" target="_blank">The Olde Bryan Inn</a>—Where Gwen and Dan first met, delicious comfort food. French onion soup is a must-have. <br />
                    <a href="https://krucoffee.com/" target="_blank">Kru Coffee</a>—Hipsters love it and so do we, great coffee, chill vibe. <br />
                    <a href="http://www.saratogacoffeetraders.com/" target="_blank">Saratoga Coffee Traders</a>—Home of Death Wish Coffee. <br />
                    <a href="https://www.saratogateaandhoney.com/" target="_blank">Saratoga Tea and Honey</a>—If you’re a tea fanatic, this place is for you. <br />
                    <a href="https://www.uncommongrounds.com/" target="_blank">Uncommon Grounds</a>—Great bagels, coffee, lattes and tea. <br />
                    <a href="https://www.facebook.com/oldsaratogaeatery/" target="_blank">Saratoga Eatery</a>—All-around great food. <br />
                    <a href="http://www.druthersbrewing.com/" target="_blank">Druthers</a>—They make their own beer and have elevated pub food. <br />
                    <a href="https://www.facebook.com/Sweeney70/" target="_blank">Sweeney’s</a>—Best pancakes and homemade doughnuts around. <br />
                    <a href="https://www.facebook.com/SaratogaGlutenFreeGoods/" target="_blank">Saratoga Gluten Free Goods</a>—If you are a gluten-free eater, this place is a must. Gwen also designed their logo and branding. <br />
                    <a href="http://romafoods.com/" target="_blank">Roma</a>—Best subs you’ll ever eat! I. Promise. <br />
                    <a href="https://www.ripetomato.com/" target="_blank">The Ripe Tomato</a>—Sunday brunch. All. The. Way. <br />
                    <a href="http://chiantiristorante.com/" target="_blank">Chianti</a> or <a href="http://fornobistro.com/" target="_blank">Forno Bistro</a>—Upscale Italian food and oh so tasty. <br />
                    <a href="https://www.gennarospizzaparlor.com/" target="_blank">Gennaro’s Pizza</a> & <a href="https://mamamiassaratoga.com/" target="_blank">Mama Mia’s</a>—Best two pizza joints in town.
                </p>
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12">
                <h4>Wedding Party</h4>
                <p>
                    You’ll notice in sticking with the nontraditional, we’ve chosen some different titles for our wedding party—don’t be alarmed, be open!<br />(OK, so no fancy nontraditional title here, but we are changing our last name to Dragon, so…)
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 offset-md-1">
                <app-headshot image="assets/about-guest-gwen-photo.png" name="Gwen Ivins" role="Bride" bio="Animal lover, coffee addict, designer of all the things."></app-headshot>
            </div>
            <div class="col-md-2">
                <span class="playfair display-1" style="line-height: 2.5;">&</span><br />
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/about-guest-dan-photo.png" name="Dan Foote" role="Groom" bio="Gaming nerd, tech nerd, nerd."></app-headshot>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <app-headshot image="assets/guest-kathy-photo.png" name="Kathy Nicolaysen" role="Friend of Words" aka="(also known as our officiant)" bio="Friend of the bride since Gwen was a year old, friend of the groom. The perfect person to marry us, animal lover, gaming nerd."></app-headshot>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-1">
                <app-headshot image="assets/guest-kris-photo.png" name="Kris Wojtowecz" role="Friend of Honor" aka="(also known as matron of honor)" bio="Friend of the bride since high school, friend of the groom. Thrifty, tech nerd, animal lover."></app-headshot>
            </div>
            <div class="col-md-4 offset-md-2">
                <app-headshot image="assets/guest-caleb-photo.png" name="Caleb Godden" role="Friend of honor" aka="(also known as best man)" bio="Brother of the groom, friend of the bride. Bratty little brother, fabulous, basically a grandma (knitting pro)."></app-headshot>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-12 text-center" style="font-size: 3rem; line-height: 2.5rem; color: #DBBEB0; text-transform: uppercase;">
                Friends of Honor
            </div>
            <div class="col-12 text-center">
                (also known as bridesmaids/men)
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <app-headshot image="assets/guest-shane-photo.png" name="Shane Ivins" bio="Brother of the bride, friend of the groom. Fantastic big brother, biggest of the nerds, animal lover."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-jenny-photo.png" name="Jenny Fitzgerald" bio="Friend of the bride/groom. Animal lover, world traveler, weirdo."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-dave-photo.png" name="Dave Cape" bio="Friend of the bride/groom. Reformed Bro, fantastic dad, designer."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-brad-photo.png" name="Bradley Rooke" bio="Friend of the bride/groom. Animal lover, happy husband, lawyer."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-andrea-photo.png" name="Andrea McNamara" bio="Friend of the bride/groom. Fantastic mom, Taylor Swift’s number one fan, lady boss."></app-headshot>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-12 text-center" style="font-size: 3rem; line-height: 2.5rem; color: #DBBEB0; text-transform: uppercase;">
                Friends of Honor
            </div>
            <div class="col-12 text-center">
                (also known as groomsmen)
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <app-headshot image="assets/guest-adam-photo.png" name="Adam Mass" bio="Friend to all. Sucks at Smash Bros. Afraid of everything, gaming nerd, great cook."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-tim-photo.png" name="Tim Erikson" bio="Friend of the bride/groom. Fantastic dad, fixer of things, big trucks."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-steve-photo.png" name="Steve Burr" bio="Friend of the bride/groom, father of the ring bear. Jewelry designer, fantastic dad, WWE super fan."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-tyler-photo.png" name="Tyler Smith" bio="Friend of the bride/groom. Dan's second-favorite Tyler Smith."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-ed-photo.png" name="Ed Perez" bio="Friend of the bride/groom. His name is Ed."></app-headshot>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <app-headshot image="assets/guest-risa-photo.png" name="Risa Burr" role="Friend of Honor" aka="(special recognition)" bio="Friend of the bride/groom, mother of the ring bear. Music lover, fantastic mom, coolest style."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-bastian-photo.png" name="Bastian Burr" role="Ring Bear" aka="(also known as ring bearer)" bio="Son of Steve and Risa Burr, friends of honor. Music fan, foodie, animal lover."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-mocha-photo.png" name="Mocha Dragon" role="Friend of Honor" aka="(also known as the flower girl)" bio="Daughter of the bride and groom. Cookie monster, long walks, plush toys. Original dragon."></app-headshot>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <app-headshot image="assets/guest-kim-photo.png" name="Kim Ivins" role="Mother of the Bride" bio="Heart of gold, animal lover, hippie flower child. OG Spellweaver."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-ken-photo.png" name="Ken Ivins" role="Father of the Bride" bio="Tech nerd, Eagles fan, fixer of things."></app-headshot>
            </div>
            <div class="col-md-4">
                <app-headshot image="assets/guest-jackie-photo.png" name="Jackie Young" role="Mother of the Groom" bio="Animal lover, loves to travel. Normal human person."></app-headshot>
            </div>
        </div>
    </div>
    <!-- End Container -->
</div>