<div class="container">
    <div class="row">
        <p>
            Well, it sure does look like you are one of the chosen ones. Welcome, wedding guest! As our guest, we wanted to give you access to all the details you may need for our big day. If you should have any additional questions, please don't hesitate to reach out!
        </p>
    </div>
    <hr />

    <div class="row">
        <p>
            ON THE DAY DETAILS We're currently still pinning down the nitty gritty, but we will keep this section updated as we know more.
        </p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h4>Who</h4>
            <p>
                Gwen Ivins & Dan Foote
            </p>
        </div>
        
        <div class="col-md-3">
            <h4>What</h4>
            <p>
                Our wedding day
            </p>
        </div>

        <div class="col-md-3">
            <h4>Where</h4>
            <p>
                We're figuring it out Schuylerville, NY 12871
            </p>
        </div>

        <div class="col-md-3">
            <h4>When</h4>
            <p>
                June 6, 2020 Ceremony will be all ages. Reception will be 21 or over only.
            </p>
        </div>
    </div>

    <!-- Who what where when -->

    <h4>DRESS ATTIRE</h4>
    <p>
        We wantyou to feel comfortable. By no means will this be a black tie affair, nor will either of us be in jeans or camo. 
        This should give you a prettty good idea: We (wedding party) will be somewhere in the realm of cocktail/normal to casual 
        wedding attire (no jackets, add in a tie or two). Shoes? Again, keep them comfortable, we're planning on an outdoor wedding 
        in June, so plan to possibly get a little muddy. This isn't the time for your designer brands or heels. Now you know what we'll 
        be wearing; whether you wanna fit in or stick out like a unicorn--we want you to be there. You do you.
    </p>

    <h4>RSVP</h4>
    <p>
        If you’re not sure yet—no worries—we will be sending official wedding invitations in the mail, so you’ve got some time. 
        But if you’re one of those overachiever types and you want to RSVP before you receive it—be our guest (yes, pun intended; 
        simply <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0Trwk3uejI0t8HKdI0S0heHIOPPkfrGB4SXQnjcTdROtwKQ/viewform?usp=sf_link" target="_blank">click here</a>, 
        and thank you for the advanced notice!). Side note: We will be kindly asking everyone on 
        the invite to RSVP online anyway, so that we can save some time, money and carbon emissions.
    </p>

    <h4>REGISTRY/HONEYMOON</h4>
    <p>
        We are honored you will share in our special day. Your presence is a gift! Please enjoy browsing our wishlist on huneyfund.com, 
        where you can contribute to our dream honeymoon!
    </p>

    <h4>TRAVELING?</h4>
    <p>
        Friends and family near and far, we want to help make your trip to beautiful Upstate New York a memorable one.
    </p>

    <h5>Flying?</h5>
    Albany International Airport<br />
    Albany Shaker Rd, Colonie, NY<br />
    If you're flying in, this is the airport closest to us; we are about 35 miles north.

    <h5>HOTELS IN THE AREA</h5>
    <p>
        We will have blocks of rooms at a couple of hotels in the area--coming soon! Safety is our number one priority; 
        each of the hotels on our list will be within a short Uber ride from our venue. We'll keep this section updated as we know more.
    </p>

    <h5>THINGS TO DO IN AND AROUND TOWN, PLUS MORE</h5>

    <h5>GOOD EATS</h5>
    This is a list of some of our favorite places to eat:
</div>