.guest-portal {
    text-align: center;
    font: Light 91px/127px RockyCond;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 3px solid rgba(0, 0, 0, .1);
}