/* You can add global styles to this file, and also import other style files */


/* Background */

.striped-background {
    background: repeating-linear-gradient( 90deg, #eeeae7, #eeeae7 15px, #f9f4f1 15px, #f9f4f1 30px);
}

a {
    font-style: italic;
    color: #DBBEB0 !important;
}

a:hover {
    color: #74947d !important;
}


/* Mobile 13px */

@media only screen and (max-width: 600px) {
    .striped-background {
        background: repeating-linear-gradient( 90deg, #eeeae7, #eeeae7 13px, #f9f4f1 13px, #f9f4f1 26px);
    }
}

.playfair {
    font-family: 'Playfair Display', serif;
}

html,
body {
    font-family: 'rocky-condensed', serif !important;
    color: rgba(0, 0, 0, .5) !important;
    font-size: 1.25rem;
}

.shit-color {
    color: #DBBEB0;
}